[submodule "themes/hugo-material"]
	path = themes/hugo-material
	url = https://github.com/eternal-flame-AD/hugo-material-blog.git
[submodule "submodules/CyberChef"]
	path = submodules/CyberChef
	url = https://github.com/gchq/CyberChef
