<h5 class="black-text">{{T "footer_title"}}</h5>


    <div class="row">
        <div class="col s0">
            <h5 class="grey-text text-darken-4">
                {{T "footer_header_devel"}}
            </h5>
            <li>
                <a href="https://github.com/eternal-flame-AD">GitHub</a>
            </li>
        </div>

        <div class="col s0">
            <h5 class="grey-text text-darken-4">
                {{T "footer_header_academic"}}
            </h5>
            <li>
                <a href="https://sites.cns.utexas.edu/mfu">UT CNS Site{{ if ne .Lang "en" }} (English) {{- end}}</a>
            </li>
        </div>

        <div class="col s0">
            <h5 class="grey-text text-darken-4">
                {{T "footer_header_services"}}
            </h5>
            <li>
                <a href="https://nas.yumechi.jp/sharing/1h6C6aQrF">{{T "footer_item_fileshare"}} - {{T "login_open"}}</a>
            </li>
            <li>
                <a href="https://nas.yumechi.jp/">NAS - {{T "login_required"}}</a>
            </li>
        </div>
    </div>

    <div class="row">
        <div class="col s0">
            <address class="grey-text text-darken-4">
                {{T "footer_address" | safeHTML}}
                
            </address>
        </div>
    </div>