<meta charset="utf-8">
<title>{{ .Title }}{{ if ne .Title .Site.Title }} - {{ .Site.Title }}{{ end }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- TODO: Do we want to add rel=author? -->
{{ if .Params.restrict }}
<meta name="rating" content="adult">
{{ end }}


{{ if .Site.Params.meta.favicon }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ " favicon/apple-touch-icon.png" | relURL}}{{ with
  .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ " favicon/favicon-32x32.png" | relURL}}{{ with
  .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ " favicon/favicon-16x16.png" | relURL}}{{ with
  .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}">
<link rel="manifest" href="{{ " favicon/site.webmanifest" | relURL}}{{ with .Site.Params.meta.faviconVersion }}?v={{ .
  }}{{ end }}">
{{ if .Site.Params.meta.svg }}
<link rel="mask-icon" href="{{ " favicon/safari-pinned-tab.svg" | relURL}}{{ with .Site.Params.meta.faviconVersion
  }}?v={{ . }}{{ end }}" color="{{ .Site.Params.meta.msColor }}">
<link rel="shortcut icon" href="{{ " favicon/favicon.ico" | relURL}}{{ with .Site.Params.meta.faviconVersion }}?v={{ .
  }}{{ end }}">
<meta name="msapplication-config" content="{{ " favicon/browserconfig.xml" | relURL}}{{ with
  .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}">
{{ end }}
<meta name="msapplication-TileColor" content="{{ .Site.Params.meta.msColor }}">
<meta name="theme-color" content="{{ .Site.Params.meta.iOSColor }}">
{{ end }}
{{ $styleSheets := (slice) }}
{{ range (readDir "assets/css/vendor") }}
  {{ if (not .IsDir ) }}
    {{ $styleSheet :=  (printf "css/vendor/%s" .Name) }}
    {{ if (or (eq (path.Ext .Name) ".sass") (eq (path.Ext .Name) ".scss")) }}
      {{ $styleSheets = $styleSheets | append ($styleSheet | resources.Get | resources.ToCSS) }}
    {{ else if (eq (path.Ext .Name) ".css") }}
      {{ $styleSheets = $styleSheets | append ($styleSheet | resources.Get) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ range (readDir "assets/css") }}
  {{ if (not .IsDir ) }}
    {{ $styleSheet :=  (printf "css/%s" .Name) }}
    {{ if (or (eq (path.Ext .Name) ".sass") (eq (path.Ext .Name) ".scss")) }}
      {{ $styleSheets = $styleSheets | append ($styleSheet | resources.Get | resources.ToCSS | resources.Minify) }}
    {{ else if (eq (path.Ext .Name) ".css") }}
      {{ $styleSheets = $styleSheets | append ($styleSheet | resources.Get | resources.Minify) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $pageCss := (resources.Concat "css/site_bundle.css" $styleSheets) | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href={{ $pageCss.Permalink }} integrity={{$pageCss.Data.Integrity}}>

{{ $siteScripts := (slice)}}
{{ range (readDir "assets/js/vendor") }}
  {{ if (eq (path.Ext .Name) ".js") }}
    {{ $siteScripts = $siteScripts | append ( .Name | printf "js/vendor/%s" | resources.Get )}}
  {{ end }}
{{ end }}
{{ range (readDir "assets/js") }}
  {{ if (eq (path.Ext .Name) ".js") }}
    {{ $siteScripts = $siteScripts | append ( .Name | printf "js/%s" | resources.Get | resources.Minify )}}
  {{ end }}
{{ end }}
{{ $siteScripts = $siteScripts | append (resources.Get "js/main.js" | resources.ExecuteAsTemplate "js/main.js" $.Site | resources.Minify )}}
{{ $pageJS := (resources.Concat "js/site_bundle.js" $siteScripts | resources.Fingerprint "sha512") }}
<script src={{ $pageJS.Permalink}} integrity={{$pageJS.Data.Integrity}}></script>