<footer id="site-footer">
    {{ if or (.Site.Params.footer.rssFooter) (.Site.Params.footer.socialFooter) }}
    <ul class="socnet-icons">
        {{ if .Site.Params.footer.rssFooter }}{{ partial "rss-icon" . }}{{ end }} {{ if .Site.Params.footer.socialFooter }}{{ partial "socnet-icon" . }}{{ end }}
    </ul>
    {{ end }}
    <p class="copyright">
        {{ (.Site.Copyright | safeHTML) | default (print "\u00A9 " .Site.LastChange.Year " " (.Site.Params.author | default .Site.Title)) }}
        <br>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />{{ i18n "license_text" | safeHTML}}
        <br> {{ i18n "attribution" . | safeHTML }}
    </p>

    <div class="netlify-icon">
        <a href="https://app.netlify.com/sites/youthful-pare-0d9fb4/deploys">
            <img src="https://api.netlify.com/api/v1/badges/2f2c821f-153c-4248-88d5-5f296acdb164/deploy-status" alt="Netlify Status">
        </a>

    </div>
</footer>



<a id="back-to-top" href="#" class="fas fa-arrow-up fa-2x"></a>