<iframe src="https://mi.yumechi.jp/embed/user-timeline/9vaew1esmfme0001?maxHeight=1400&rounded=false"
    data-misskey-embed-id="v1_5f890494-6126-498a-a004-f00fd637194d" loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin"
    style="border: none; width: 100%; max-width: 500px; height: 500px; color-scheme: light dark;"></iframe>

<iframe src="https://pari.cafe/embed/user-timeline/9ysyel29e6?maxHeight=1400&rounded=false"
    data-misskey-embed-id="v1_f854f964-635e-4d94-b1be-4533b3bd5794" loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin"
    style="border: none; width: 100%; max-width: 500px; height: 500px; color-scheme: light dark;"></iframe>

<script defer src="https://mi.yumechi.jp/embed.js"></script>